<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iFunSchool v2 macOSUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>iFunSchool v2 tvOSUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>iFunSchool v2UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B799007413A76EE500B2941C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B799047313A7784300B2941C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B79A0B46226655E000E479B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2000000000000000000000B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2MACOSUITESTTARGET00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2TARGETMAC00000000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2TARGETTVO00000000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2TVOSUITESTTARGET000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>V2UITESTTARGET00000000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
